# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
venv/
ENV/
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# Packaging
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.DS_Store

# Coverage / test
.coverage
.pytest_cache/

# Logs
*.log
